.card-c{
  height: 60vh;
  margin: 25px;
  padding: 25px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center i{
  font-size: 8rem;
  padding: 5px;
  margin: 5px;
}
