<div class="card h-100">
  <!-- Product image-->
  <img class="card-img-top" src="{{image}}" alt="..." width="310" height="310"/>
  <!-- Product details-->
  <div class="card-body p-4">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder">{{articleName}}</h5>
      <!-- Product price-->
      {{articlePrice |currency:'COP':'$':'3.0' }}
    </div>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="row justify-content-center">
      <div class="col-4">
        <button class="btn btn-primary"><i class="bi bi-eye-fill"></i></button>
      </div>
      <div class="col-4">
        <button class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></button>
      </div>
    </div>
  </div>
</div>
