<div class="row justify-content-center mt-5 mb-5">
  <div class="col-sm-12 col-md-4">
    <div class="card border-0 mt-5">
       <div class="card-header border-0">
         <h1 class="text-center">Iniciar sesión</h1>
       </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="input-group input-group-lg mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <span class="input-group-text bg-dark" id="basic-addon1"><i class="bi bi-envelope-fill text-light"></i></span>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="input-group input-group-lg mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" aria-label="password" aria-describedby="basic-addon1">
                <span class="input-group-text bg-dark" id="password"><i class="bi bi-key-fill text-light"></i></span>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <button class="btn btn-primary w-100"> Iniciar Sesión</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
