<!-- Header-->
<app-header></app-header>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4  justify-content-center">
      <div class="col-sm-12 col-md-3 mb-5" *ngFor="let item of dts | paginate:{itemsPerPage: 6, currentPage: page}">
        <app-card-articulo articleName="{{item.nombre}}" imge="{{item.image_path}}" articlePrice="{{item.precio}}"></app-card-articulo>
      </div>
      <div class="col-sm-12 text-center">
        <pagination-controls
          (pageChange)="page = $event "
          previousLabel="Anterior"
          nextLabel="Proximo"
        ></pagination-controls>
      </div>

    </div>
  </div>
</section>
<!-- Footer-->
