<div class="container-fluid mt-3">
  <app-breadcrumb></app-breadcrumb>
</div>

<div class="container-fluid mt-3">
  <div class="row justify-content-between">
    <div class="col-sm-12 col-md-4">
      <app-card title="Formulario de registro">
        <div class="row">
          <div class="col-12 mb-2">
            <label for="nombre">Nombre de la marca</label>
            <input type="text" name="nombre" id="nombre" class="form-control">
          </div>
          <div class="col-12">
            <label for="foto">Logo de la marca</label>
            <input type="file" name="image" id="foto" class="form-control">
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-sm-12 col-md-8">
      <app-card title="Marcas">
      </app-card>
    </div>
  </div>

</div>
