<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="text-center m-3">
      <h1>Herramientas  Administrativas</h1>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-3 text-center">
            <a routerLink="marcas"class="link-dark h4">
              <i class="fas fa-tags text-danger"></i>
              Administrar Marcas
            </a>
          </div>
          <div class="col-sm-12 col-md-3 text-center">
            <a routerLink="tallas" class="link-dark h4">
              <i class="fa-solid fa-maximize text-navy"></i>
              Administrar Tallas
            </a>
          </div>
          <div class="col-sm-12 col-md-3 text-center">
            <a routerLink="tipos" class="link-dark h4">
              <i class="fa-solid fa-layer-group text-orange"></i>
              Administrar Categorias
            </a>
          </div>
          <div class="col-sm-12 col-md-3 text-center">
            <a routerLink="articulos" class="link-dark h4">
              <i class="fa-solid fa-bag-shopping text-blue"></i>
              Administrar Artículos
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
