<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="text-center m-3">
      <h1>Herramientas  Administrativas</h1>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-3 text-center mb-2">
            <a routerLink="marcas"class="link-dark h4">
              <i class="fas fa-tags text-danger mx-5"></i>
              <h3>Marcas</h3>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 text-center mb-2">
            <a routerLink="tallas" class="link-dark h4">
              <i class="fa-solid fa-maximize text-navy mx-5"></i>
              <h3>Tallas</h3>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 text-center mb-2">
            <a routerLink="tipos" class="link-dark h4">
              <i class="fa-solid fa-layer-group text-orange mx-5"></i>
              <h3>Tipos</h3>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 text-center mb-2">
            <a routerLink="articulos" class="link-dark h4">
              <i class="fa-solid fa-bag-shopping text-blue mx-5"></i>
              <h3> Artículos</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
